.main-div mat-card{
    padding: 0px;
    border-radius: 5px;
    transform: scale(1.5);
}

.info{
    padding: 13px;
    font-size: large;
    line-height: 150%;
}

.toolbar{
    border-radius: 5px;
}

